<form id="form-mensajes" class="mb-5" method="POST">
    <h3 class="title">Canal de Chat</h3>
    <div>
        <label for="mail">Email</label>
        <input class="input" type="text" id="email" name="email" required>
    </div>

    <hr>
    <small class="form-text text-muted">Mensajes:</small>
    <ul id="lista-mensajes"></ul>
    <hr>

    <div>
        <label for="mensaje">Mensaje</label>
        <input class="input" type="text" id="mensaje" name="mensaje" required>
    </div>
    <input class="btn" type="submit" value="Enviar">
</form>

<style>
    body {
        background-color: #f7f9fc;
    }

    .title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        margin: 0 0 25px;
    }

    form {
        background-color: #fff;
        border-radius: 20px;
        padding: 30px 35px;
        max-width: 450px;
        margin: 50px auto 0 auto;
        box-shadow: 0 4px 10px rgb(90 107 150 / 5%);
    }

    div {
        margin-bottom: 30px;
    }

    label {
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .input {
        font-weight: 500;
        padding: 0 20px;
        height: 55px;
        width: 100%;
        border-radius: 12px;
        background: #fff;
        border: 2px solid #dde2ee;
        outline: none;
    }

    .btn {
        height: 50px;
        padding: 0 50px;
        border: none;
        background: #316cec;
        color: #fff;
        border-radius: 8px;
        font-weight: 700;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
</style>