<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Express websockets</title>
</head>
<body>
    {{{ body }}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();
    
    var tabla = document.getElementById('products');
    var form = document.getElementById('form');
    var title = document.getElementById('title');
    var price = document.getElementById('price');
    var thumbnail = document.getElementById('thumbnail');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if(title.value || price.value || thumbnail.value) {
            var producto = {
                title: title.value, 
                price: price.value, 
                thumbnail: thumbnail.value
            }
            socket.emit('productos', producto);
            title.value = '';
            price.value = '';
            thumbnail.value = '';
        } 
    });

    socket.on('productos', function(producto) {
        console.log(producto)
        var item = document.createElement('tr');
        item.innerHTML = `<td>${producto.title}</td>` +
            `<td>${producto.price}</td>` +
            `<td><img src="${producto.thumbnail}" alt="${producto.title}" style="max-width:30px;"></td>`;
        tabla.appendChild(item);
    });
    </script>
</body>
</html>